.footer {
    width: 100%;
    background-color: #fff;
    border-top: #000;
    z-index: 20;
    margin: 0 0 0 150px;
    padding: 5px 40px;
}

.footer_copyright {
    font-size: 0.8rem;
}

.footer_item p {
    font-size: 0.8rem;
    margin: 10px 0;
}